/* Global */

body {
    font-family: Verdana, sans-serif;
}

/* Unique */

#not-found {
    margin: 0;
    font-size: 20px;
    color: red;
}

.yes-transparent {
    visibility: hidden;
}

.day-level-1 {
    fill: #bfbfff;
}

.day-level-2 {
    fill: #9999ff;
}

.day-level-3 {
    fill: #7373ff;
}

.day-level-4 {
    fill: #4d4dff;
}

.day-level-5 {
    fill: #2626ff;
}

.day-level-6 {
    fill: #0000ff;
}

/* Structured */

#user-and-year {
    font-size: 20px;
}

.month .month-title {
    font-size: 14px;
}

#additional-info {
    font-size: 16px;
}

#additional-info svg {
    fill: #4d4dff;
}